.column.left {
    float: left;
    width: 20%;
  }

  .column.middle {
    float: left;
    width: 40%;
  }

  .column.right {
    float: left;
    width: 40%;
  }

.charsheet button[type="action"].statButton:hover {
    background-position: 0;
}
 
.charsheet button[type="action"].statButton.off {
    content: "";
    background-size: 20px 20px;
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
    border-style: none;
    background-color: transparent;
    margin-left: 0px;
    background-position: 0;
}
 
.charsheet button[type="action"].statButton.on {
    content: "";
    background-size: 24px 24px;
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
    border-style: none;
    background-color: transparent;
    margin-left: 0px;
    background-position: 0;
}
 
.charsheet button[type="action"].d4.off {
    background-image: url("https://raw.githubusercontent.com/Germophile/ArchiaCharSheet/main/images/d4_white.svg");
}
 
.charsheet button[type="action"].d4.on {
    background-image: url("https://raw.githubusercontent.com/Germophile/ArchiaCharSheet/main/images/d4_black.svg");
}
 
.charsheet button[type="action"].d6.off {
    background-image: url("https://raw.githubusercontent.com/Germophile/ArchiaCharSheet/main/images/d6_white.svg");
}
 
.charsheet button[type="action"].d6.on {
    background-image: url("https://raw.githubusercontent.com/Germophile/ArchiaCharSheet/main/images/d6_black.svg");
}
 
.charsheet button[type="action"].d8.off {
    background-image: url("https://raw.githubusercontent.com/Germophile/ArchiaCharSheet/main/images/d8_white.svg");
}
 
.charsheet button[type="action"].d8.on {
    background-image: url("https://raw.githubusercontent.com/Germophile/ArchiaCharSheet/main/images/d8_black.svg");
}
 
.charsheet button[type="action"].d10.off {
    background-image: url("https://raw.githubusercontent.com/Germophile/ArchiaCharSheet/main/images/d10_white.svg");
}
 
.charsheet button[type="action"].d10.on {
    background-image: url("https://raw.githubusercontent.com/Germophile/ArchiaCharSheet/main/images/d10_black.svg");
}
 
.charsheet button[type="action"].d12.off {
    background-image: url("https://raw.githubusercontent.com/Germophile/ArchiaCharSheet/main/images/d12_white.svg");
}
 
.charsheet button[type="action"].d12.on {
    background-image: url("https://raw.githubusercontent.com/Germophile/ArchiaCharSheet/main/images/d12_black.svg");
}

.charsheet .hidden {
    display: none;
}

.charsheet button[type="action"].editIcon {
    background-image: url("https://raw.githubusercontent.com/Germophile/ArchiaCharSheet/main/images/edit-icon-pencil.svg");
    content: "";
    background-size: 15px 15px;
    background-repeat: no-repeat;
    width: 9px;
    height: 9px;
    border-style: none;
    background-color: transparent;
    margin-left: 0px;
    background-position: -15;
    padding: 10px;
    margin-top: 0px;
}

.charsheet  input.editing[value="false"] ~ div.editor {
    display: none
}

/*Code below this point will be written by system-write*/
.charsheet  input.abilitySource:not([value="Divine"]) ~ div.editor > span.Divine {
    display: none
}
.charsheet  input.abilitySource:not([value="Profane"]) ~ div.editor > span.Profane {
    display: none
}
.charsheet  input.abilitySource:not([value="Arcane"]) ~ div.editor > span.Arcane {
    display: none
}
.charsheet  input.abilitySource:not([value="Primeval"]) ~ div.editor > span.Primeval {
    display: none
}
.charsheet  input.abilitySource:not([value="Mundane"]) ~ div.editor > span.Mundane {
    display: none
}
.charsheet  input.abilityType:not([value="Attack"]) ~ div.editor > span.Attack {
    display: none
}
.charsheet  input.abilitySubtype:not([value="Attack"]) ~ div.editor > span.Attack {
    display: none
}
.charsheet  input.abilityType:not([value="Augmentation"]) ~ div.editor > span.Augmentation {
    display: none
}
.charsheet  input.abilitySubtype:not([value="Shield"]) ~ div.editor > span.Shield {
    display: none
}
.charsheet  input.abilitySubtype:not([value="Buff"]) ~ div.editor > span.Buff {
    display: none
}
.charsheet  input.abilityType:not([value="Cataclysm"]) ~ div.editor > span.Cataclysm {
    display: none
}
.charsheet  input.abilitySubtype:not([value="Destruction"]) ~ div.editor > span.Destruction {
    display: none
}
.charsheet  input.abilitySubtype:not([value="Suppression"]) ~ div.editor > span.Suppression {
    display: none
}
.charsheet  input.abilityType:not([value="Communication"]) ~ div.editor > span.Communication {
    display: none
}
.charsheet  input.abilitySubtype:not([value="Sending"]) ~ div.editor > span.Sending {
    display: none
}
.charsheet  input.abilitySubtype:not([value="Comprehension"]) ~ div.editor > span.Comprehension {
    display: none
}
.charsheet  input.abilityType:not([value="Creation"]) ~ div.editor > span.Creation {
    display: none
}
.charsheet  input.abilitySubtype:not([value="Fabricate"]) ~ div.editor > span.Fabricate {
    display: none
}
.charsheet  input.abilitySubtype:not([value="Imbue"]) ~ div.editor > span.Imbue {
    display: none
}
.charsheet  input.abilityType:not([value="Divination"]) ~ div.editor > span.Divination {
    display: none
}
.charsheet  input.abilitySubtype:not([value="Augury"]) ~ div.editor > span.Augury {
    display: none
}
.charsheet  input.abilitySubtype:not([value="Scrying"]) ~ div.editor > span.Scrying {
    display: none
}
.charsheet  input.abilityType:not([value="Druidism"]) ~ div.editor > span.Druidism {
    display: none
}
.charsheet  input.abilitySubtype:not([value="Floromancy"]) ~ div.editor > span.Floromancy {
    display: none
}
.charsheet  input.abilitySubtype:not([value="Faunomancy"]) ~ div.editor > span.Faunomancy {
    display: none
}
.charsheet  input.abilityType:not([value="Illusion"]) ~ div.editor > span.Illusion {
    display: none
}
.charsheet  input.abilitySubtype:not([value="Personal"]) ~ div.editor > span.Personal {
    display: none
}
.charsheet  input.abilitySubtype:not([value="Projected"]) ~ div.editor > span.Projected {
    display: none
}
.charsheet  input.abilityType:not([value="Magisprudence"]) ~ div.editor > span.Magisprudence {
    display: none
}
.charsheet  input.abilitySubtype:not([value="Magic Sense"]) ~ div.editor > span.Magic-Sense {
    display: none
}
.charsheet  input.abilitySubtype:not([value="Teleportation"]) ~ div.editor > span.Teleportation {
    display: none
}
.charsheet  input.abilityType:not([value="Maneuvers"]) ~ div.editor > span.Maneuvers {
    display: none
}
.charsheet  input.abilitySubtype:not([value="Exploits"]) ~ div.editor > span.Exploits {
    display: none
}
.charsheet  input.abilitySubtype:not([value="Stunt"]) ~ div.editor > span.Stunt {
    display: none
}
.charsheet  input.abilityType:not([value="Psionics"]) ~ div.editor > span.Psionics {
    display: none
}
.charsheet  input.abilitySubtype:not([value="Telepathy"]) ~ div.editor > span.Telepathy {
    display: none
}
.charsheet  input.abilitySubtype:not([value="Telekinesis"]) ~ div.editor > span.Telekinesis {
    display: none
}
.charsheet  input.abilityType:not([value="Rejuvenation"]) ~ div.editor > span.Rejuvenation {
    display: none
}
.charsheet  input.abilitySubtype:not([value="Heal"]) ~ div.editor > span.Heal {
    display: none
}
.charsheet  input.abilitySubtype:not([value="Treat"]) ~ div.editor > span.Treat {
    display: none
}
.charsheet  input.abilityType:not([value="Scourge"]) ~ div.editor > span.Scourge {
    display: none
}
.charsheet  input.abilitySubtype:not([value="Inhibit"]) ~ div.editor > span.Inhibit {
    display: none
}
.charsheet  input.abilitySubtype:not([value="Harm"]) ~ div.editor > span.Harm {
    display: none
}

